.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
.Rproj.user/18A74D3D/pcs/files-pane.pper
.Rproj.user/18A74D3D/pcs/source-pane.pper
.Rproj.user/18A74D3D/pcs/workbench-pane.pper
.Rproj.user/18A74D3D/pcs/files-pane.pper
.Rproj.user/18A74D3D/pcs/source-pane.pper
.Rproj.user/18A74D3D/pcs/workbench-pane.pper
